{% extends 'base.html.twig' %}

{% block body %}

<h1>File list</h1> <a href="{{ path('file_new') }}">upload</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>File</th>
            <th>Duration</th>
            <th>Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for resource in resources %}
        <tr>
            <td><a href="{{ path(configuration.getRouteName('show'), configuration.vars.route.parameters|default({ 'id': resource.id })) }}">{{ resource.name }}</a></td>
            <td>{{ resource.file }}</td>
            <td>{{ resource.duration }}</td>
            <td>{{ resource.id }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path(configuration.getRouteName('show'), configuration.vars.route.parameters|default({ 'id': resource.id })) }}">show</a>
                    </li>
                    <li>
                        <a href="{#{ path('file_edit', { 'id': entity.id }) }#}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{#
<ul>
    <li>
        <a href="{{ path('file_import') }}">
            Import Files
        </a>
    </li>
    <li>
        <a href="{{ path('file_new') }}">
            Add file manualy
        </a>
    </li>
</ul>
#}
{% endblock %}


{% block stylesheets %}

    {{ encore_entry_link_tags('clip') }}

{% endblock %}