{% extends 'base.html.twig' %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">File {{ resource.id }}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a class="btn btn-sm btn-outline-secondary mr-2" href="{{ path(configuration.getRouteName('index')) }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
        Index
    </a>

    <a class="btn btn-sm btn-outline-secondary mr-2" href="{{ path(configuration.getRouteName('update'), { 'id': resource.id }) }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
        Edit
    </a>
  </div>
</div>

<table class="table table-striped table-hover table-borderless">
    <tr>
        <th>Id</th><td>{{ resource.name }}</td>
    </tr>
    <tr>
        <th>Name</th><td>{{ resource.name }}</td>
    </tr>
    <tr>
        <th>File</th><td>{{ resource.file }}</td>
    </tr>
    <tr>
        <th>Duration</th><td>{{ resource.duration }}</td>
    </tr>
</table>
{% endblock %}
