{#<div class="well list listBlock">

    <div class="container">
        <div class="row">
            <div class="col-7">
                <h3>Playlist <span id="playlistDuration" class="badge badge-pill badge-primary">0m</span></h3>
                
                <div class="form-group row">
                    <label for="playlistName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="playlistName" placeholder="Playlist name">
                    </div>
                </div>
                
                <h4>Items</h4>
                
                <ul id="playlist">
                    {% for file in resource.files %}
                        <li data-id="{{ file.id }}" data-duration="{{ file.duration }}" class="ui-state-default">
                            <span class="ui-icon ui-icon-document" style="float: left"></span>{{ file.name }}
                            <a class="ui-icon ui-icon-minus"></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-5">
                <h3>Media</h3>
                
                <div id="catalog" class="listBlock">

                    <ul>
                        <li><a href="#tabs-1">Files</a></li>
                        <li><a href="#tabs-2">Clips</a></li>
                        <li><a href="#tabs-3">Other</a></li>
                    </ul>

                    <div id="tabs-1" class="list" style="overflow-y: scroll; height:150px;">
                        <ul>
                        </ul>
                    </div>
                    <div id="tabs-2">
                        
                    </div>
                    <div id="tabs-3">
                        
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <input type="submit" class="btn btn-primary">
        
        <a href="{{ path|default(app.request.headers.get('referer')) }}" class="ui button">{{ 'sylius.ui.cancel'|trans }}</a>

    </div>

</div>

<style type="text/css">
    #catalog .list ul,
    #playlist { list-style-type: none; margin: 0; padding: 0; }
    
    .list ul li { margin: 5px; padding: 5px; /*width: 270px;*/ }
    .list ul li a.ui-icon { float: right; }
    .list ul li a:hover.ui-icon { cursor: pointer; }

    #playlist {background-color: #eee; border: 2px dashed #aaa; border-radius: 10px; min-height: 440px; margin-bottom: 20px; }
    #catalog .ui-tabs-panel {padding: 0; }
</style>

#}
{% block javascripts %}

    {{ encore_entry_script_tags('clip') }}

{% endblock %}

{% block stylesheets %}

    {{ encore_entry_link_tags('clip') }}

{% endblock %}