{% block media_choice_row %}
    {{ form_label(form) }}
    {{ form_widget(form) }}
    {{ form_help(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-7">

            <h4>Selected <span id="playlistDuration" class="badge badge-pill badge-primary">00:00:00</span></h4>

            <ul id="playlist" class="list-group">
                {% for file in form.parent.vars.data.files %}
                {% set file = file.file %}
                    <li data-id="{{ file.id }}" data-duration="{{ file.duration }}" class="ui-state-default text-truncate list-group-item">
                        {{ file.name }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-5">
            <h3>Media</h3>

            <div class="row">
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-5">
                    <input class="form-control d-inline-flex" type="text" id="media-search" placeholder="Search the media" aria-label="Search">
                </div>
                <div class="col">
                    <div class="btn-group d-inline-flex float-right" role="group" id="media-type">
                        <button type="button" class="btn btn-secondary active" data-value="">All</button>
                        <button type="button" class="btn btn-secondary" data-value="clip">Clips</button>
                        <button type="button" class="btn btn-secondary" data-value="file">Files</button>
                    </div>
                </div>
            </div>

            <ul id="catalog" class="list-group mt-2 mb-2">
            </ul>

            <nav>
              <ul id="catalog-paginator" class="pagination">
              </ul>
            </nav>

        </div>
    </div>

<style type="text/css">
    ul#catalog, ul#playlist { list-style-type: none; margin: 0; padding: 0; }

    #tabs-1 button.close { float: right; }
    #tabs-1 button:hover.close { cursor: pointer; }

    #playlist {background-color: #eee; border: 2px dashed #aaa; border-radius: 10px; min-height: 440px; margin-bottom: 20px; }
</style>

{% endblock %}
